.footer {
  display: flex;
  flex: row;
  justify-content: center; /* Center the content */
  align-items: flex-start;
  background-color: #e2b7ff;
  padding: 40px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  gap: 10px; /* Space between left and right divs */
  flex-wrap: wrap;
}

.right-div,
.left-div {
  flex: 1;
  display: flex;
  justify-content: center;
}

.right-div-content,
.left-div-content {
  text-align: left;
  width: 100%;
  max-width: 350px;
}

.right-div-content a {
  display: block;
  color: black; /* Link color */
  text-decoration: underline;
  margin: 15px 0;
  color: #0078d7; /* Link color */
}

.footer p strong {
  color: black;
  display: block;
  margin-bottom: 10px;
}
/* Icon Styling */
.right-div-content a svg,
.left-div-content a svg {
  color: black; /* Icons are black */
  margin-right: 5px; /* Space between icon and text */
  vertical-align: middle;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .right-div,
  .left-div {
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
  }
  .right-div-content,
  .left-div-content {
    text-align: center;
    width: 95%;
  }
  .right-div-content a {
    margin: 10px 0;
    text-align: center;
  }
}
