.footer {
    background-color: #ced4da; /* Dark background color */
    color: #fff; /* White text color */
    display: flex; /* Use flexbox layout */
    flex-wrap: wrap; /* Wrap items if they exceed the width */
    
  }
  
  .right-div {
    font-family: sans-serif; 
    flex: 1; /* Grow to fill available space */
    background-color: #ced4da; /* Dark background color */
    color: black; /* White text color */
    padding: 20px; /* Add some padding */
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    /* margin-left: 30px; */
  }
  .right-div > * {
    margin-bottom: 20px; /* Add margin below each item */
  }
  
  .left-div {
    font-family: sans-serif; 
    
    flex: 1; /* Grow to fill available space */
    background-color: #ced4da; /* Dark background color */
    color: black; /* White text color */
    padding: 20px; /* Add some padding */
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    /* margin-left: 30px; */
  }
  
  .bottom-div {
    height: 100px;
    width: 100%;
    background-color: black;
  }
  