.projects {
    background-color: white;
  }
  .projects h2 {
    padding: 20px;
    text-align: left;
    font-size: 22px;
    margin: 0; /* Remove margin for h2 within .projects container */
  }
  
  .project-container {
    display: flex;
    flex-wrap: wrap;
  }
  .project{
    position: relative;
    height: 300px;
    width: 300px;
    color: #0077b6;
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: margin 0.3s; 
    border-top: 10px solid transparent;
  }
  .project p{
    color:black;
  }

  .project:hover {
    border-image: linear-gradient(to right, #007bff, #ff6f00, #ffcb00, #00c853, #6200ea); /* Gradient with multiple colors */
  border-image-slice: 0.5; /* Make the border slices equal */


  }
  