.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.home{
  flex-grow: 1;
}
.footer {
  flex-shrink: 0; /* Prevent footer from shrinking when content is smaller */
  height: 100px; /* Or set a fixed height for the footer */
  background-color: #ccc;
  /* Add any other styling for your footer */
}


